<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-@-Tack</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            Tech-@-Tack   
        </header>
        <main class="main">
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
                <li>Product 6</li>
            </ul>
        </main>
        <footer class="footer">
            All rights reserved © Tech-@-Tack 2020
        </footer>
    </div>
</body>
</html>