html {
	font-size: 62.5%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font: 1.6rem Helvetica;
	height: 100vh;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
}

/*Layout*/
.grid-container {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100%;
}
header {
	grid-area: header;
	background-color: rgb(34, 44, 44);
}
main {
	grid-area: main;
	padding: 1rem;
}
footer {
	grid-area: footer;
	background-color: darkslategray;
	color: white;
}

/* Common */
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	font-size: 1.6rem;
	padding: 1rem 0;
}

a {
	text-decoration: none;
}
a:hover {
	color: #ff8000;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	margin-top: 1rem;
}
input,
select,
textarea,
button {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem lightgray solid;
	font: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
button {
	cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
	border: 0.1rem darkgray solid;
}
button.primary {
	margin: auto;
	background-color: #f0c040;
}
button.block {
	width: 100%;
}

/* Header */

header a {
	color: white;
	padding: 1rem;
}
a.logo {
	color: #ffffff;
	font-size: 3rem;
	font-weight: bold;
}
.badge {
	background-color: #f02020;
	color: #ffffff;
	border-radius: 50%;
	padding: 0.2rem 0.7rem;
	font-size: 1.4rem;
	margin-left: 0.2rem;
}
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.row.center {
	justify-content: center;
}
.row.top {
	flex-wrap: nowrap;
	align-items: flex-start;
}
.col-1 {
	flex: 1 1 25rem;
}
.col-2 {
	flex: 2 1 50rem;
}

.min-30 {
	min-width: 30 rem;
}

/* Image */
img {
	border-radius: 5px 5px 0 0;
}
img.small {
	max-width: 5rem;
	width: 100%;
}

img.medium {
	max-width: 29rem;
	display: block;
	width: inherit;
	margin: auto;
}
img.medium:hover {
	transition: transform 0.1s;
	transform: scale(1.02);
	border-radius: 5px;
	box-shadow: 0 16px 32px 0;
	color: lightgray;
}

img.large {
	width: 100%;
}

/* Card */
.card {
	flex-grow: 2;
	flex-basis: 20%;
	border: 0.1rem #c0c0c0 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	margin: 1rem;
	max-width: 29.5rem;
	display: table;
	align-content: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	align-items: baseline;
}
.card:hover {
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
	padding: 2rem 2rem 0rem 2rem;
	width: 29rem;
	height: 22rem;
	margin: auto;
	position: relative;
}
.card-body > Link > h2 {
	word-wrap: break-word;
	text-align: auto;
}
.card-body > Link > span {
	align-items: center;
}

.card-body > * {
	margin-bottom: 0.5rem;
}

.price {
	font-size: 2rem;
	position: absolute;
	bottom: 0;
}
/* Rating */
.rating {
	position: absolute;
	bottom: 5rem;
}
.rating span {
	color: #f0c040;
	margin: 0.1rem 0 0 0;
	align-self: start;
	text-indent: 0rem;
	text-align: auto;
}
.rating span:last-child {
	color: gray;
}

/* Footer */

footer a {
	color: white;
	padding: 1rem;
}

/*Alert*/
.success {
	color: green;
}
.error {
	color: red;
	background-color: crimson;
}
.alert {
	padding: 1rem;
	border: 0.1rem solid transparent;
	border-radius: 0.5rem;
}

.alert-info {
	color: blue;
	background-color: white;
}

.alert-faliure {
	color: red;
	background-color: white;
}

.alert-failed-login {
	color: rgb(85, 5, 5);
	background-color: lightcoral;
}

.alert-failed-login::before {
	content: "❌Error❌";
}

/*Media rules*/

@media screen and (max-width: 664px) {
	.logo {
		display: none;
	}
	.header {
		display: flex;
	}
	.header-links {
		display: flex;
		justify-content: space-between;
		flex-basis: content;
		flex-grow: 2;
		font-size: 2rem;
	}
	.signUpIn {
		order: 1;
	}
	.cart {
		order: 2;
	}
}

/*Form*/

.form {
	max-width: 60rem;
	margin: 0 auto;
}
.form > div {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
.form label {
	margin: 1rem 0;
	display: block;
}

label::before {
	visibility: hidden;
}

/* Dropdown */
.dropdown {
	display: inline-block;
	position: relative;
}
.dropdown-content {
	position: absolute;
	display: none;
	right: 0;
	min-width: 12rem;
	padding: 1rem;
	z-index: 1;
	background-color: #203040;
	margin: 0;
	margin-top: 0.2rem;
	border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content:hover {
	display: block;
}
