html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font: 1.6rem Helvetica;
	height: 100vh;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
}

/*Layout*/
.grid-container {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 5rem 1fr 5rem;
	height: 100%;
}
header {
	grid-area: header;
	background-color: rgb(34, 44, 44);
}
main {
	grid-area: main;
	padding: 1rem;
}
footer {
	grid-area: footer;
	background-color: darkslategray;
	color: white;
}

/* Common */
h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	font-size: 1.6rem;
	padding: 1rem 0;
}

a {
	text-decoration: none;
}
a:hover {
	color: #ff8000;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	margin-top: 1rem;
}
button {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem lightgray solid;
	font: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
button:hover {
	border: 0.1rem darkgray solid;
}
button.primary {
	margin: auto;
	background-color: #f0c040;
}
button.block {
	width: 100%;
}

/* Header */

header a {
	color: white;
	padding: 1rem;
}
a.logo {
	color: #ffffff;
	font-size: 3rem;
	font-weight: bold;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
}

.row.center {
	justify-content: center;
}
.row.top {
	align-items: flex-start;
}
.col-1 {
	flex: 1 1 25rem;
}
.col-2 {
	flex: 2 1 50rem;
}

/* Image */
img {
	border-radius: 0.5rem;
}

img.medium {
	max-width: 29rem;
	width: 100%;
	align-items: flex-start;
}
img.large {
	width: 100%;
}

/* Card */
.card {
	flex-grow: 2;
	flex-basis: 20%;
	border: 0.1rem #c0c0c0 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	margin: 1rem;
	align-content: flex-end;
}

.card-body {
	padding: 1rem 1rem;
}
.card-body > a > h2 {
	word-wrap: break-word;
	text-align: auto;
	margin: auto;
}

.card-body > * {
	margin-bottom: 0.5rem;
}

.price {
	font-size: 2rem;
	margin: 0;
	text-align: auto;
	margin: auto;
}
/* Rating */
.rating span {
	color: #f0c040;
	margin: 0.1rem;
	align-self: start;
	text-indent: 0rem;
	text-align: auto;
	margin: auto;
}
.rating span:last-child {
	color: gray;
}

/* Footer */

footer a {
	color: white;
	padding: 1rem;
}

/*Alert*/
.success {
	color: green;
}
.error {
	color: red;
}
.alert {
	padding: 1rem;
	border: 0.1rem solid transparent;
	border-radius: 0.5rem;
}

.alert-info {
	color: blue;
	background-color: white;
}

.alert-faliure {
	color: red;
	background-color: white;
}
